/Brisca/bin/Debug/netcoreapp3.1
/Brisca/obj/Debug/netcoreapp3.1
/Brisca/obj/Release/netcoreapp3.1
/Brisca/obj/Brisca.csproj.nuget.dgspec.json
/Brisca/obj
/.vs/Brisca
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
